<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
    <title>genredio</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    Hello world!
    {% if profile %}
      Logged in as {{ profile['firstName'] }}. <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login with Rdio</a>

    {% endif %}
  </body>
</html>
